<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Manager</title>
</head>
<body>
    <h1>Vehicle Manager</h1>

    <table>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Body Style</th>
            <th>Mileage</th>
            <th>MPG (City)</th>
            <th>MPG (Highway)</th>
        </tr>

        <% vehicles.forEach( (vehicle) => { %>
            <tr>
                <td>
                    <%= vehicle.make %>
                </td>
                <td>
                    <%= vehicle.model %>
                </td>
                <td>
                    <%= vehicle.year %>
                </td>
                <td>
                    <%= vehicle.bodyStyle %>
                </td>
                <td>
                    <%= vehicle.mileage %>
                </td>
                <td>
                    <%= vehicle.mpg.city %>
                </td>
                <td>
                    <%= vehicle.mpg.highway %>
                </td>
            </tr>
        <% }) %>
    </table>

    <a href="/vehicles/addVehicle">Add Vehicle</a>
</body>
</html>