<%
if (vehicle.id) {
    btnLabel = "Update";
    route = `/vehicles/${vehicle.id}`;
} else {
    btnLabel = "Create";
    route = "/vehicles";
}
%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Form</title>
</head>
<body>
    <form action="<%=route%>" method="post">
        <label for="model">Make:</label>
        <input type="text" name="make" id="name" value="<%=vehicle.make%>" required>

        <label for="model">Model:</label>
        <input type="text" name="model" id="model" value="<%=vehicle.model%>" required>

        <label for="year">Year:</label>
        <input type="number" name="year" id="year" value="<%=vehicle.year%>" required>

        <label for="bodyStyle">Body Style:</label>
        <select name="bodyStyle" id="bodyStyle" required>
            <option value="">--Please choose an option--</option>
            <option value="SEDAN" <%= vehicle && vehicle.bodyStyle === 'SEDAN' ? 'selected' : '' %>>Sedan</option>
            <option value="SUV" <%= vehicle && vehicle.bodyStyle === 'SUV' ? 'selected' : '' %>>SUV</option>
            <option value="TRUCK" <%= vehicle && vehicle.bodyStyle === 'TRUCK' ? 'selected' : '' %>>Truck</option>
        </select> 

        <label for="mileage">Mileage:</label>
        <input type="text" name="mileage" id="mileage" value="<%=vehicle.mileage%>" required>

        <label for="cityMPG">City MPG:</label>
        <input type="number" name="cityMPG" id="cityMPG" value="<%=vehicle.cityMPG%>" required>

        <label for="highwayMPG">Highway MPG:</label>
        <input type="number" name="highwayMPG" id="highwayMPG" value="<%=vehicle.highwayMPG%>" required>

        <input type="submit" value="<%=btnLabel%>"/>
    </form>

    <a href="/vehicles">Back</a>
</body>
</html>